<div class="background" fxFlex fxLayout="column">
  <div fxLayout="row wrap">
    <div
      fxFlex="25"
      fxFlex.md="33"
      fxFle.sm="50"
      fxFlex.xs="100"
      fxLayout="column"
      *ngFor="let i of ListaEvents | async"
      style="padding: 15px"
    >
      <mat-card>
        <img
          mat-card-image
          src="{{ i.thumbnail.path }}.{{ i.thumbnail.extension }}"
          alt="{{ i.name }}"
        />
        <mat-car-footer>
          <a
            href="{{ i.urls[0].url }}"
            target="_blank"
            fxFlex
            mat-flat-button
            color="primary"
            >Detalhes</a
          >
        </mat-car-footer>
      </mat-card>
    </div>
  </div>
</div>
