<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar></mat-toolbar>
    <mat-nav-list>
      <a class="links" mat-list-item routerLink="characters">Characters</a>
      <a class="links" mat-list-item routerLink="comics">Comics</a>
      <a class="links" mat-list-item routerLink="series">Series</a>
      <a class="links" mat-list-item routerLink="stories">Stories</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="header" color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div class="div-titulo">
        <a id="titulo" routerLink="/">MARVEL API UNIVAS</a>
      </div>
    </mat-toolbar>
    <div
      style="background-image: url('assets/imagens/imagem6.jpg')"
      id="imagem-background"
    ></div>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
